{% extends 'layout.html' %}

{% block content %}


<div class="one column row">
    <div class="column">
        <h1 style="margin-top:30px;text-align:center">Post</h1>
        <form method="POST" class="ui form" action="/post/send" style="width:50%;margin-top:30px;">
            <div class="field">
                <label>Text</label>
                <input type="text" name="post" id="post">
            </div>
            <button class="ui primary button" type="submit">SEND</button>
        </form>
    </div>
</div>


{% endblock %}