<form method="POST" action="/signup/send">
    Username: <input type="text" name="username" id="username"> <br>
    Password: <input type="password" name="password" id="password"> <br>
    <button type="submit">SIGNUP</button>
</form>

{% extends 'layout_blank.html' %}

{% block content %}


<div class="one column row">
    <div class="column">
        <h1 style="margin-top:30px;text-align:center">Signup!</h1>
        <div class="ui center aligned segment" style="width:300px;margin:0 auto; margin-top:30px;">
            <!--<div class="ui button">A</div>-->
            <form method="POST" class="ui form" action="/signup/send">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" id="username" placeholder="username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <button class="ui primary button" type="submit">SIGNUP</button>
            </form>
            <div class="ui horizontal divider">OR</div>
            <a href="/login" class="ui teal button">LOGIN</a>
        </div>
    </div>
</div>


{% endblock %}

